<title>Change Country</title>
<form method="post" action= "/trips/ <%= "#{@trip.id}"%>/edit">
  <label for = "country_select"> Change the Country you plan to vist:</label>
  <select id = "country_select" name = "country_id">
    <% @countries.each do |country|  %>
      <option value = <%="#{country.id}"%> <%="selected" if @location.country_id == country.id %>> <%= country.name %> </option>
    <% end %>
  </select>
  <br>
  <br>
  <% destination_counter = @destinations.size  %>
  <% @destinations.each do |destination|  %>
  <% @cities.each do |city| %>
      <br>
      <% break if destination_counter == 0  %>
      <label for="city_select"> Change the City you want to visit:</label>
      <input type="text" name= "city_name_<%=city.id%>" id="city_select" value="<%="#{city.name}"  %>">
      (Delete name to remove City)
      <br>
      <% destination_counter -= 1 %>
    <% end  %>
  <% end  %>
    <label for="city_select"> Enter the Name of A New City you want to visit: (MAX 20) </label>
    <input type="text" name= "city_name" id="city_select">
  <br>
  <br>
    <input type="submit" name="add_new_city" value="Add New City">
  <br>
  <br>
    <input type="submit" name= "update_trip"value= "Save Trip">

</form>
