<title>Change Country</title>
<form method="post" action= "/trips/ <%= "#{@trip.id}"%>/update">
  <label for = "country_select"> Change the Country you plan to vist:</label>
  <select id = "country_select" name = "country_id">
    <% @countries.each do |country|  %>
      <option value = <%="#{country.id}"%> <%="selected" if @location.country_id == country.id %>> <%= country.name %> </option>
    <% end %>
  </select>
  <br>
  <br>
  <% @destinations = Destination.find_by_trip_id(@trip.id) %>
  <label for="city_select"> Change the Number of Cities you want to visit (MAX 20): </label>
  <input type="number" name= "city_number" id="city_select" value = "<%="#{@destinations.size}" %>">
<br>
<input type="submit" value= "Update Country">

</form>
