<title>My Planned Trips</title>
<% counter = 0  %>
<% @trips.each do |trip|  %>
   <p>
     <% @cities_not_done = Trip.find_not_done( trip.id ) %>
      <% if @cities_not_done.size > 0 %>
        <% counter += 1  %>
        <%= "Trip #{counter}:"%>
        <% @country_destinations = trip.find_country_cities %>
        <% @country = @country_destinations[0] %>
        <% @country_destinations.shift %>
        <% @destinations = @country_destinations  %>
        <%= " You have planned a trip to #{@country.name} and want to visit:" %>
        <% destination_counter = @destinations.size  %>
        <%  @destinations.each do |destination|  %>
        <% @cities_not_done.each do |city|%>
          <% if destination_counter > 1  %>
              <%= "#{city.name}, " %>
              <% destination_counter -= 1  %>
            <% elsif destination_counter == 1 %>
              <%= "#{city.name}." %>
              <% destination_counter -= 1  %>
            <% end  %>
          <% end  %>
        <% end  %>
        <form method="post" action="/trips/<%="#{trip.id}"%>/done">
          <input type="submit" value="Mark Trip as Complete">
        </form>
        <form action= "/trips/<%= "#{trip.id}"%>/edit" method="get">
          <input type="submit" value="Edit Trip">
        </form>
        <form method="get" action="/trips/<%="#{trip.id}"%>/delete">
          <input type="submit" value="Delete Trip">
        </form>
    </p>
    <br>
  <% end %>
<% end  %>
